XSStrike*
SSRFmap*
LFImap*
Arjun*
ParamSpider*
xsssniper*
output*
LFImap*
chatgpt.py
vulnerabilities*
crt.sh*
kadimus*
sqli-lfi-xss-rce-dorker-and-auto-exploiter-Python-*
editable.pptx
web Vlunerability scanner_graduation_project.pptx