<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R3Scanner - Web Vulnerability Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
    function enableExploit() {
        const reconChecked = document.querySelector('input[name="recon"]:checked');
        const exploitFieldset = document.getElementById('exploitFieldset');
        const exploitCheckboxes = [
            document.querySelector('input[name="nuclei"]'),
            document.querySelector('input[name="lfi"]'),
            document.querySelector('input[name="sqlmap"]'),
            document.querySelector('input[name="xspear"]'),
            document.querySelector('input[name="xsstrike"]')
        ];
        
        if (reconChecked) {
            exploitFieldset.classList.remove('disabled');
            exploitCheckboxes.forEach(checkbox => {
                if (checkbox) checkbox.disabled = false;
            });
        } else {
            exploitFieldset.classList.add('disabled');
            exploitCheckboxes.forEach(checkbox => {
                if (checkbox) checkbox.disabled = true;
            });
        }
    }

    // Call enableExploit on page load to set initial state
    document.addEventListener('DOMContentLoaded', enableExploit);
    </script>
</head>
<body>
    <div class="container">
        <h1>R3Scanner - Web Vulnerability Scanner</h1>
        <form action="{{ url_for('scan') }}" method="post">
            <label for="endpoints">Enter Domains (one per line):</label>
            <textarea id="endpoints" name="endpoints" rows="10" required></textarea>
            
            <fieldset>
                <legend>Recon</legend>
                <label><input type="radio" name="recon" value="all_recon" onclick="enableExploit()"> All Recon Phases</label><br>
                <label><input type="radio" name="recon" value="subdoman" onclick="enableExploit()"> Subdomains Enumeration</label><br>
                <label><input type="radio" name="recon" value="subdomains_&_endpoint" onclick="enableExploit()"> Endpoints Enumeration </label><br>
            </fieldset>
            
            <fieldset id="exploitFieldset" class="disabled">
                <legend>Exploit</legend>
                <label><input type="checkbox" name="nuclei" value="nuclei" disabled> Nuclei</label><br>
                <label><input type="checkbox" name="lfi" value="lfi" disabled> Local file inclusion </label><br>
                <label><input type="checkbox" name="xspear" value="xspear" disabled> Xss with Xspear</label><br>
                <label><input type="checkbox" name="xsstrike" value="xsstrike" disabled> Xss with Xsstrike</label><br>
                <label><input type="checkbox" name="sqlmap" value="sqlmap" disabled> Sql injection </label><br>
            </fieldset>
            
            <button type="submit">Scan</button>
        </form>
    </div>
</body>
</html>